.styled-label-md {
    color: #49525f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 4px;
}
.styled-label-base {
    color: #363e4a;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 4px;
}

.styled-label-xl {
    color: #363e4a;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
