.styled-dialog-actions-root {
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
.styled-dialog-actions {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
    padding: 16px;
    gap: 16px;
}
@media (max-width: 768px) {
    .action-button-wrapper {
        flex: 1;
        button {
            width: 100%;
        }
    }
}
