.input:global(.ant-input),
.input:global(.ant-input-affix-wrapper),
.input:global(.ant-input-affix-wrapper) input {
    @apply rounded-[4px] text-[16px] text-delta-800 placeholder:italic disabled:cursor-default disabled:text-delta-800;

    span:global(.ant-input-clear-icon),
    span:global(.ant-input-show-count-suffix),
    span:global(.ant-input-suffix) {
        @apply flex items-center justify-center leading-4;
    }

    &:global(.ant-input[disabled]),
    &:global(.ant-input-affix-wrapper-disabled) {
        @apply cursor-default border border-transparent ring-transparent;
        input {
            @apply ring-transparent focus:ring-transparent active:ring-transparent;
        }
    }

    &:not(&:global(.ant-input-status-warning)):not(&:global(.ant-input-status-error)):not(
            &:global(.ant-input-affix-wrapper-status-warning)
        ):not(&:global(.ant-input-affix-wrapper-status-error)) {
        @apply border-transparent shadow-none
        ring-1 ring-transparent 
        hover:border-transparent
        focus:border-transparent focus:shadow-none  focus:ring-gama-700
        active:border-transparent active:ring-gama-700 
        disabled:cursor-default  disabled:ring-transparent;

        &:global(.ant-input-affix-wrapper-focused) {
            @apply ring-1 ring-gama-700 transition-all duration-300;
            input {
                @apply focus:ring-transparent active:ring-transparent;
            }
        }

        &:global(.ant-input-affix-wrapper-disabled) {
            @apply ring-transparent;
        }
    }
}
