.link {
    @apply font-roboto font-semibold w-fit underline rounded px-1 py-0.5 outline-none border-none #{!important};
    color: var(--colors-gama-500);

    &:hover {
        color: var(--colors-gama-600) #{!important};
    }

    &:active {
        color: var(--colors-gama-500) #{!important};
    }

    &:focus {
        outline-offset: -1px #{!important};
        outline: 1px solid var(--colors-warning-500) #{!important};
        color: var(--colors-gama-500) #{!important};
    }
}
