:root {
    /* base colors :*/
    --colors-text: #4c4c4c;

    --colors-red-100: #fdeae9;
    --colors-red-500: #DF0101;
    --colors-red-600: #A7241B;
    --colors-red-700: #871e17;

    --colors-salmon-500: #d24545;
    --colors-salmon-700: #b14848;

    --colors-gray-100: #F0F2F4;     
    --colors-gray-200: #D3D8DF;
    --colors-gray-300: #B5BEC9;
    --colors-gray-400: #98A3B4;
    --colors-gray-500: #7A899E;
    --colors-gray-600: #363e4a; 
    --colors-gray-900: #0B0C0F;
    /* should be removed in the future*/
    --colors-gray-9000: #1a1d23;
    --colors-gray-10000: black;

    --colors-zinc-100: #F5F5F5;
    --colors-zinc-200: #bcbcbc;
    --colors-zinc-300: #898989;
    --colors-zinc-400: #686868;
    --colors-zinc-500: #575757;
    --colors-zinc-600: #4C4C4C;
    --colors-zinc-900: #0B0C0F;

    --colors-green-100: #EFF4F2;
    --colors-green-200: #DEEBE5;
    --colors-green-300: #C6D7D0;
    --colors-green-400: #ADC6BC;
    --colors-green-500: #9CB2A9;
    --colors-green-600: #798B84;
    --colors-green-700: #667670;
    --colors-green-800: #454F4B;

    --colors-slate-100: #d0dee5;
    --colors-slate-200: #abc8d42f;
    --colors-slate-300: #abc8d4;
    --colors-slate-500: #9fbcca;
    --colors-slate-600: #6198ae;
    --colors-slate-700: #6e9aaf;
    --colors-slate-800: #4c7f93;

    --colors-blue-100: #E5F2F8;
    --colors-blue-200: #CCE5F1;
    --colors-blue-300: #99CCE3;
    --colors-blue-400: #66B2D6;
    --colors-blue-500: #3299C8;
    --colors-blue-600: #0080BB;
    --colors-blue-700: #006695;
    --colors-blue-800: #00405e;
    --colors-blue-900: #070a1f;

    --colors-magic-blue-700: #247ba3;

    --colors-text-component: #ffffff;
    --colors-jade-100: #DFFAFA;
    --colors-jade-200: #BEF4F4;
    --colors-jade-300: #78E8E8;
    --colors-jade-400: #32DCDC;
    --colors-jade-500: #1CA1A1;
    --colors-jade-600: #157A7A;
    --colors-jade-700: #105C5C;
    --colors-jade-800: #0B4141;

    --colors-yellow-400: #EFCC1D;

    --colors-lime-500: #beda2f;

    /*default theme :*/
    --colors-active-component: var(--colors-blue-500);
    
    --colors-alpha-100: var(--colors-blue-100);
    --colors-alpha-500: var(--colors-blue-500);
    --colors-alpha-600: var(--colors-blue-600);
    --colors-alpha-700: var(--colors-blue-700);

    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);

    --colors-gama-100: var(--colors-blue-100);
    --colors-gama-200: var(--colors-blue-200);
    --colors-gama-300: var(--colors-blue-300);
    --colors-gama-400: var(--colors-blue-400);
    --colors-gama-500: var(--colors-blue-500);
    --colors-gama-600: var(--colors-blue-600);
    --colors-gama-700: var(--colors-blue-700);
    --colors-gama-800: var(--colors-blue-800);
    --colors-gama-900: var(--colors-blue-900);

    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-400: var(--colors-gray-400);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-600: var(--colors-gray-600);
    --colors-delta-900: var(--colors-gray-900);
    /* to be removed in the future*/
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);

    --colors-sigma-700: var(--colors-magic-blue-700);
    --colors-zeta-700: var(--colors-blue-700);

    --colors-theta-100: #ffffff;
    --colors-theta-200: var(--colors-slate-200);
    --colors-theta-300: var(--colors-slate-500);
    --colors-theta-400: #ffffff;
    --colors-theta-500: #ffffff;
    --colors-theta-600: #ffffff;

    --colors-btn-bg-hover: var(--colors-slate-300);
    --colors-btn-bg-standart: var(--colors-slate-600);
    --colors-btn-bg-active: var(--colors-slate-800);
    --colors-btn-bg-disabled: var(--colors-green-800);
    --colors-btn-bg-danger: var(--colors-salmon-700);
    --colors-btn-bg-danger-active: var(--colors-salmon-500);
    --colors-colors-btn-bg-mini-action: var(--colors-slate-600);
    --colors-colors-btn-bg-mini-action-hover: var(--colors-slate-300);
    --colors-link-text-hover: var(--colors-slate-800);
    --colors-link-text-standart: var(--colors-gray-500);
    --colors-link-text-active: var(--colors-slate-800);
    --colors-link-text-disabled: var(--colors-green-800);

    --colors-badge-bg: var(--colors-slate-600);
    --colors-badge-text: #ffffff;

    --colors-app-directory-button-select-recipient-bg: var(--colors-blue-200);

    --colors-btn-task-status-bg: var(--colors-slate-600);

    --colors-chat-ticket-message-bg: var(--colors-blue-200);

    --colors-topbar-text: var(--colors-zinc-500);
    /*  */
    --colors-menu-text-active:var(--colors-slate-700);

    /* New buttons */

    /* Primary button */
    --button-primary-text-color: var(--colors-delta-900);
    --button-primary-bg-color: var(--colors-gama-400);
    --button-primary-border-color: var(--colors-gama-400);
    --button-primary-focused-text-color: var(--colors-delta-900);
    --button-primary-focused-bg-color: var(--colors-gama-400);
    --button-primary-focused-border-color: var(--colors-yellow-400);
    --button-primary-active-text-color: #ffffff;
    --button-primary-active-bg-color: var(--colors-gama-800);
    --button-primary-active-border-color: var(--colors-gama-800);
    --button-primary-hover-text-color: var(--colors-delta-900);
    --button-primary-hover-bg-color: var(--colors-gama-500);
    --button-primary-hover-border-color: var(--colors-gama-500);
    --button-primary-disabled-text-color: #ffffff;
    --button-primary-disabled-bg-color: var(--colors-delta-400);
    --button-primary-disabled-border-color: transparent;

    /* Secondary button */
    --button-secondary-text-color: var(--colors-delta-900);
    --button-secondary-bg-color: transparent;
    --button-secondary-border-color: var(--colors-gama-400);
    --button-secondary-focused-text-color: var(--colors-delta-900);
    --button-secondary-focused-bg-color: transparent;
    --button-secondary-focused-border-color: var(--colors-yellow-400);
    --button-secondary-active-text-color: #ffffff;
    --button-secondary-active-bg-color: var(--colors-gama-800);
    --button-secondary-active-border-color: var(--colors-gama-800);
    --button-secondary-hover-text-color: var(--colors-delta-900);
    --button-secondary-hover-bg-color: var(--colors-gama-500);
    --button-secondary-hover-border-color: var(--colors-gama-500);
    --button-secondary-disabled-text-color: #ffffff;
    --button-secondary-disabled-bg-color: var(--colors-delta-400);
    --button-secondary-disabled-border-color: transparent;

    /* Flat button */
    --button-flat-text-color: var(--colors-delta-900);
    --button-flat-bg-color: transparent;
    --button-flat-border-color: transparent;
    --button-flat-focused-text-color: var(--colors-delta-900);
    --button-flat-focused-bg-color:  transparent;
    --button-flat-focused-border-color: var(--colors-yellow-400);
    --button-flat-active-text-color: #ffffff;
    --button-flat-active-bg-color: var(--colors-gama-800);
    --button-flat-active-border-color: var(--colors-gama-800);
    --button-flat-hover-text-color: var(--colors-delta-900);
    --button-flat-hover-bg-color: var(--colors-gama-500);
    --button-flat-hover-border-color: var(--colors-gama-500);
    --button-flat-disabled-text-color: #ffffff;
    --button-flat-disabled-bg-color: var(--colors-delta-400);
    --button-flat-disabled-border-color: transparent;

    /* Danger button */
    --button-danger-text-color: #ffffff;
    --button-danger-bg-color: var(--colors-beta-500);
    --button-danger-border-color: var(--colors-beta-500);
    --button-danger-focused-text-color: #ffffff;
    --button-danger-focused-bg-color: var(--colors-beta-600);
    --button-danger-focused-border-color: var(--colors-beta-600);
    --button-danger-active-text-color: #ffffff;
    --button-danger-active-bg-color: var(--colors-beta-700);
    --button-danger-active-border-color: var(--colors-beta-700);
    --button-danger-hover-text-color: #ffffff;
    --button-danger-hover-bg-color: var(--colors-beta-600);
    --button-danger-hover-border-color: var(--colors-beta-600);
    --button-danger-disabled-text-color: #ffffff;
    --button-danger-disabled-bg-color: var(--colors-beta-100);
    --button-danger-disabled-border-color: var(--colors-beta-100);
}
