@mixin input($type) {
    &.#{$type} {
        @apply font-roboto h-[38px] w-full resize-none rounded border border-transparent p-3 text-sm font-normal shadow-none outline transition-colors duration-200 ease-in-out;
        outline-offset: -1px #{!important};
        color: var(--colors-input-#{$type}-text-color);
        background-color: var(--colors-input-#{$type}-bg-color);
        outline-color: var(--colors-input-#{$type}-outline-color);
        outline-width: var(--input-#{$type}-outline-width);
        cursor: var(--input-#{$type}-cursor);
        &::placeholder {
            color: var(--colors-input-#{$type}-placeholder-color);
        }
        &:hover {
            color: var(--colors-input-#{$type}-hover-text-color);
            background-color: var(--colors-input-#{$type}-hover-bg-color);
            outline-color: var(--colors-input-#{$type}-hover-outline-color);
            outline-width: var(--input-#{$type}-hover-outline-width);
        }
        &:active {
            color: var(--colors-input-#{$type}-active-text-color);
            background-color: var(--colors-input-#{$type}-active-bg-color);
            outline-color: var(--colors-input-#{$type}-active-outline-color);
            outline-width: var(--input-#{$type}-active-outline-width);
            cursor: var(--input-#{$type}-active-cursor);
        }
        &:focus {
            color: var(--colors-input-#{$type}-focus-text-color);
            background-color: var(--colors-input-#{$type}-focus-bg-color);
            outline-color: var(--colors-input-#{$type}-focus-outline-color);
            outline-width: var(--input-#{$type}-focus-outline-width);
            cursor: var(--input-#{$type}-focus-cursor);
        }
        &:disabled {
            color: var(--colors-input-#{$type}-disabled-text-color);
            background-color: var(--colors-input-#{$type}-disabled-bg-color);
            outline-color: var(--colors-input-#{$type}-disabled-outline-color);
            outline-width: var(--input-#{$type}-disabled-outline-width);
            cursor: var(--input-#{$type}-disabled-cursor);
        }
    }
    &.large {
        @apply h-[38px] #{!important};
    }
    &.small {
        @apply h-[30px] #{!important};
    }
}

@mixin label($type) {
    &.#{$type} {
        @apply absolute -top-6 font-roboto block text-sm font-semibold;
        color: var(--colors-input-label-#{$type}-text-color);
    }
}
@mixin description($type) {
    &.#{$type} {
        @apply absolute -bottom-5 font-roboto pt-1 text-xs font-normal leading-[16px] tracking-[0.24px];
        color: var(--colors-input-description-#{$type}-text-color);
    }
}
@mixin startIcon($type) {
    &.#{$type} {
        @apply absolute inset-y-0 left-3 flex items-center;
        color: var(--colors-input-label-#{$type}-text-color);
    }
}
@mixin endIcon($type) {
    &.#{$type} {
        @apply absolute inset-y-0 right-3 flex items-center;
        color: var(--colors-input-label-#{$type}-text-color);
    }
}

.input {
    @include input('active');
    @include input('error');
    @include input('disabled');
    @include input('readOnly');
    @include input('notEditable');
}
.label {
    @include label('active');
    @include label('error');
    @include label('disabled');
    @include label('readOnly');
    @include label('notEditable');
}
.description {
    @include description('active');
    @include description('error');
    @include description('disabled');
    @include description('readOnly');
    @include description('notEditable');
}
.startIcon {
    @include startIcon('active');
    @include startIcon('error');
    @include startIcon('disabled');
    @include startIcon('readOnly');
    @include startIcon('notEditable');
}
.endIcon {
    @include endIcon('active');
    @include endIcon('error');
    @include endIcon('disabled');
    @include endIcon('readOnly');
    @include endIcon('notEditable');
}
