[data-theme='greenish'] {
    --colors-primary-50: #e8f6f6;
    --colors-primary-100: #c5e7e7;
    --colors-primary-200: #8ed0d0;
    --colors-primary-300: #60bdbd;
    --colors-primary-400: #1ca1a1;
    --colors-primary-500: #168181;
    --colors-primary-600: #116161;
    --colors-primary-700: #0b4040;
    --colors-primary-800: #083030;
    --colors-primary-900: #062020;
    --colors-beta-100: var(--colors-red-100);
    --colors-beta-500: var(--colors-red-500);
    --colors-beta-600: var(--colors-red-600);
    --colors-beta-700: var(--colors-red-700);
    --colors-gama-50: var(--colors-jade-50);
    --colors-gama-100: var(--colors-jade-100);
    --colors-gama-200: var(--colors-jade-200);
    --colors-gama-300: var(--colors-jade-300);
    --colors-gama-400: var(--colors-jade-400);
    --colors-gama-500: var(--colors-jade-500);
    --colors-gama-600: var(--colors-jade-600);
    --colors-gama-700: var(--colors-jade-700);
    --colors-gama-800: var(--colors-jade-800);
    --colors-delta-10: var(--colors-gray-10);
    --colors-delta-50: var(--colors-gray-50);
    --colors-delta-100: var(--colors-gray-100);
    --colors-delta-200: var(--colors-gray-200);
    --colors-delta-300: var(--colors-gray-300);
    --colors-delta-400: var(--colors-gray-400);
    --colors-delta-500: var(--colors-gray-500);
    --colors-delta-600: var(--colors-gray-600);
    --colors-delta-700: var(--colors-gray-700);
    --colors-delta-800: var(--colors-gray-800);
    --colors-delta-900: var(--colors-gray-900);
    --colors-delta-9000: var(--colors-gray-9000);
    --colors-delta-10000: var(--colors-gray-10000);
    --colors-theta-100: var(--colors-jade-100);
    --colors-theta-200: var(--colors-jade-200);
    --colors-theta-300: var(--colors-jade-300);
    --colors-theta-400: var(--colors-jade-400);
    --colors-theta-500: var(--colors-jade-500);
    --colors-theta-600: var(--colors-jade-600);
    --colors-theta-700: var(--colors-jade-700);
    --colors-theta-800: var(--colors-jade-800);
    --colors-theta-hover: var(--colors-jade-500);
    --colors-sigma-700: var(--colors-jade-600);
    --colors-link-text-hover: #ffffff;
    --colors-link-text-standart: #ffffff;
    --colors-link-text-active: #ffffff;
    --colors-link-text-disabled: var(--colors-gray-200);
    --colors-badge-bg: var(--colors-lime-500);
    --colors-badge-text: var(--colors-jade-600);
    --colors-button-primary-text-color: #ffffff;
    --colors-button-primary-bg-color: var(--colors-gama-600);
    --colors-button-primary-border-color: var(--colors-gama-600);
    --colors-button-primary-focused-text-color: #ffffff;
    --colors-button-primary-focused-bg-color: var(--colors-gama-600);
    --colors-button-primary-focused-border-color: var(--colors-yellow-400);
    --colors-button-primary-active-text-color: #ffffff;
    --colors-button-primary-active-bg-color: var(--colors-gama-800);
    --colors-button-primary-active-border-color: var(--colors-gama-800);
    --colors-button-primary-hover-text-color: #ffffff;
    --colors-button-primary-hover-bg-color: var(--colors-gama-700);
    --colors-button-primary-hover-border-color: var(--colors-gama-700);
    --colors-button-primary-disabled-text-color: #ffffff;
    --colors-button-primary-disabled-bg-color: var(--colors-delta-400);
    --colors-button-primary-disabled-border-color: var(--colors-delta-400);
    --colors-button-secondary-text-color: var(--colors-gama-600);
    --colors-button-secondary-bg-color: transparent;
    --colors-button-secondary-border-color: var(--colors-gama-600);
    --colors-button-secondary-focused-text-color: var(--colors-gama-600);
    --colors-button-secondary-focused-bg-color: transparent;
    --colors-button-secondary-focused-border-color: var(--colors-yellow-400);
    --colors-button-secondary-active-text-color: #ffffff;
    --colors-button-secondary-active-bg-color: var(--colors-gama-800);
    --colors-button-secondary-active-border-color: var(--colors-gama-800);
    --colors-button-secondary-hover-text-color: #ffffff;
    --colors-button-secondary-hover-bg-color: var(--colors-gama-700);
    --colors-button-secondary-hover-border-color: var(--colors-gama-700);
    --colors-button-secondary-disabled-text-color: #ffffff;
    --colors-button-secondary-disabled-bg-color: var(--colors-delta-400);
    --colors-button-secondary-disabled-border-color: var(--colors-delta-400);
    --colors-button-flat-text-color: var(--colors-gama-600);
    --colors-button-flat-bg-color: transparent;
    --colors-button-flat-border-color: var(--colors-gama-600);
    --colors-button-flat-focused-text-color: var(--colors-gama-600);
    --colors-button-flat-focused-bg-color: transparent;
    --colors-button-flat-focused-border-color: var(--colors-yellow-400);
    --colors-button-flat-active-text-color: #ffffff;
    --colors-button-flat-active-bg-color: var(--colors-gama-800);
    --colors-button-flat-active-border-color: var(--colors-gama-800);
    --colors-button-flat-hover-text-color: #ffffff;
    --colors-button-flat-hover-bg-color: var(--colors-gama-700);
    --colors-button-flat-hover-border-color: var(--colors-gama-700);
    --colors-button-flat-disabled-text-color: #ffffff;
    --colors-button-flat-disabled-bg-color: var(--colors-delta-400);
    --colors-button-flat-disabled-border-color: var(--colors-delta-400);
    --colors-button-danger-text-color: #ffffff;
    --colors-button-danger-bg-color: var(--colors-beta-500);
    --colors-button-danger-border-color: var(--colors-beta-500);
    --colors-button-danger-focused-text-color: #ffffff;
    --colors-button-danger-focused-bg-color: var(--colors-beta-600);
    --colors-button-danger-focused-border-color: var(--colors-beta-600);
    --colors-button-danger-active-text-color: #ffffff;
    --colors-button-danger-active-bg-color: var(--colors-beta-700);
    --colors-button-danger-active-border-color: var(--colors-beta-700);
    --colors-button-danger-hover-text-color: #ffffff;
    --colors-button-danger-hover-bg-color: var(--colors-beta-600);
    --colors-button-danger-hover-border-color: var(--colors-beta-600);
    --colors-button-danger-disabled-text-color: #ffffff;
    --colors-button-danger-disabled-bg-color: var(--colors-beta-100);
    --colors-button-danger-disabled-border-color: var(--colors-beta-100);
    --colors-menu-text-active: var(--colors-jade-700);
}
