[data-theme='greenish'] {
    --colors-primary-50: #e9fcfc;
    --colors-primary-100: #dffafa;
    --colors-primary-200: #bef4f4;
    --colors-primary-300: #78e8e8;
    --colors-primary-400: #32dcdc;
    --colors-primary-500: #1ca1a1;
    --colors-primary-600: #157a7a;
    --colors-primary-700: #105c5c;
    --colors-primary-800: #0b4141;
    --colors-primary-900: #093434;
}
