.asma-core-ui-styled-widget {
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(34, 33, 51, 0.15);
    transition: all 0.3s ease-out;

    .widget-header {
        color: var(--colors-gray-800);
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .widget-header-left {
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 0;
    }

    .widget-header-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .widget-content {
        height: 100%;
        width: 100%;
        min-height: 50px;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .widget-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .widget-link {
        cursor: pointer;
    }
}
