.copy-wrapper {
    &:hover,
    &:focus-within {
        .hidden-copy {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.hidden-copy {
    opacity: 0;
    pointer-events: none;
}
