@mixin thumb-state($bg-color, $outline: null) {
    @apply rounded-full flex items-center justify-center w-4 h-4;
    padding: 0.125rem /* 2px */ !important;
    background-color: $bg-color;

    @if $outline {
        outline: 1px solid $outline;
    }
}

.thumb {
    @apply rounded-full p-0.5 flex items-center justify-center w-4 h-4;
}

.checked {
    @include thumb-state(var(--colors-gama-500));

    &.disabled {
        @include thumb-state(var(--colors-gama-300));
    }
}

.unchecked {
    @include thumb-state(var(--colors-delta-10), var(--colors-delta-200));

    &.disabled {
        @include thumb-state(var(--colors-delta-50));
    }
}
