.StyledDatePickerMobile-dialog {
    .MuiPickersCalendarHeader-root {
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 35px;
        padding-right: 25px;
    }

    .MuiDayCalendar-weekDayLabel {
        color: #0b0c0f;
    }
}
