.dialog {
    @apply relative z-10;

    .overlay {
        @apply fixed inset-0;

        background-color: var(--modal-overlay-background-color);
    }

    .wrapper {
        @apply fixed inset-0 flex items-center justify-center;

        .panel {
            @apply flex max-h-[90vh] flex-col overflow-hidden rounded-lg bg-white shadow-modal;

            .title {
                @apply m-0 flex h-12 flex-none items-center px-6 font-sans text-xl font-normal;

                color: var(--modal-toolbar-text-color);
                background-color: var(--modal-toolbar-background-color);
            }

            .content {
                @apply flex-auto overflow-auto;
            }
        }
    }
}
