.switch {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;

    --switch-w: 38px;
    --switch-h: 22px;
    --switch-pad: 2px;

    width: var(--switch-w);
    height: var(--switch-h);

    border-radius: 9999px;
    border: none;
    padding: var(--switch-pad);
    margin: 6px;

    cursor: pointer;
    transition: background-color 0.3s;

    &[data-unchecked] {
        background-color: var(--colors-delta-400);

        &:hover:not([data-disabled]) {
            background-color: var(--colors-delta-500);
        }
    }

    &[data-checked] {
        background-color: var(--colors-gama-500);

        &:hover:not([data-disabled]) {
            background-color: var(--colors-gama-600);
        }
    }

    &:not([data-disabled]):active .iconContent {
        opacity: 0.9;
    }

    &[data-disabled] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }

    &:focus-visible {
        outline: none;
        &::before {
            content: '';
            inset: 0;
            position: absolute;
            border-radius: inherit;
            outline: 2px solid var(--colors-gama-400);
            outline-offset: 1px;
        }
    }
}

.thumb {
    width: calc(var(--switch-h) - (2 * var(--switch-pad)));
    height: calc(var(--switch-h) - (2 * var(--switch-pad)));
    border-radius: 100%;
    background-color: white;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    .switch[data-checked] & {
        transform: translateX(calc(var(--switch-w) - var(--switch-h)));
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.iconContent {
    display: block;
    pointer-events: none;
    transition: color 0.3s;

    svg {
        transition: fill 0.3s, stroke 0.3s;
    }

    .switch[data-checked] & {
        color: var(--colors-gama-500);
    }

    .switch[data-unchecked] & {
        color: var(--colors-delta-400);
    }

    .switch[data-checked]:hover:not([data-disabled]) & {
        color: var(--colors-gama-600);
    }

    .switch[data-unchecked]:hover:not([data-disabled]) & {
        color: var(--colors-delta-500);
    }
}
