[data-theme="fretex"] {
    // Buttons

    --color--basic--button--background--default: var(--color-custom-green-light);
    --color--basic--button--background--disabled: var(--colors-carasent--disabled--100);
    --color--basic--button--background--active: var(--color-custom-green-normal);
    --color--basic--button--background--focus: var(--color-custom-green-normal);
    --color--basic--button--background--hover: var(--color-custom-green-lighter);

    // Primary Button

    --color--primary--button--background--default: var(--color-custom-green-light);
    --color--primary--button--background--hover: var(--color-custom-green-lighter);
    --color--primary--button--background--focus: var(--color-custom-green-normal);
    --color--primary--button--background--active: var(--color-custom-green-normal);
    --color--primary--button--background--disabled: var(--colors-carasent--disabled--100);

    --color--primary--button--boxshadow--focus: transparent;

    // Secondary Button

    --color--secondary--button--background--active: var(--color-custom-green-darker);
    --color--secondary--button--background--hover: var(--color-custom-green-normal);

    --color--secondary--button--boxshadow--focus: transparent;

    --color--secondary--button--border--default: var(--color-custom-green-normal);
    --color--secondary--button--border--active: var(--color-custom-green-darker);
    --color--secondary--button--border--focus: var(--color-custom-green-normal);
    --color--secondary--button--border--hover: var(--color-custom-green-lighter);

    --color--secondary--button--text--default: var(--color-custom-green-darker);
    --color--secondary--button--text--focus: var(--color-custom-green-darker);

    // Flat Button

    --color--flat--button--background--active: var(--color-custom-green-darker);
    --color--flat--button--background--hover: var(--color-custom-green-normal);

    --color--flat--button--boxshadow--focus: transparent;

    --color--flat--button--text--default: var(--color-custom-green-darker);
    --color--flat--button--text--focus: var(--color-custom-green-darker);

}
