.styled-date-picker-input-range-compact {
    display: flex !important;
    gap: calc(var(--spacing) * 7) !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: fit-content !important;
    cursor: pointer !important;

    &.range-compact-disabled {
        pointer-events: none !important;
        color: var(--colors-gama-300) !important;
    }
}
