.asma-core-ui-styled-table {
    .table-wrapper {
        overflow: auto;
        width: 100%;
    }
    .table {
        box-sizing: border-box;
        display: table;
        margin: 0;
        border-collapse: collapse;
        max-width: inherit;
        width: calc(100% - 5px);

        .tbody {
            display: table-row-group;
            vertical-align: middle;
            max-width: inherit;
        }
    }

    .loading-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
    }
}
