.all-icons-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--spacing) * 5);
    background-color: var(--color-gray-100);
    padding: calc(var(--spacing) * 5);
}

.icon {
    cursor: pointer;
}
