:root {
    --modal-overlay-background-color: var(--color-gray-10-blury);
    --modal-content-background-color: var(--colors-cardea--white);

    --modal-toolbar-background-color: hsl(var(--colors-carasent--basic--700));
    --modal-toolbar-text-color: var(--colors-cardea--white);

    --modal-menu-primary-background-color: hsl(var(--colors-carasent--basic--200));
    --modal-menu-secondary-background-color: hsl(var(--colors-carasent--basic--600));
    --modal-menu-tertiary-background-color: hsl(var(--colors-carasent--basic--700));

    --modal-menu-primary-text-color: var(--color-gray-10);
    --modal-menu-secondary-text-color: var(--color-gray-20);
}

[data-theme='fretex'] {
    --modal-toolbar-background-color: var(--color-gray-30);
    --modal-toolbar-text-color: var(--colors-cardea--white);

    --modal-menu-primary-background-color: var(--color-gray-90);
    --modal-menu-secondary-background-color: var(--color-gray-70);
    --modal-menu-tertiary-background-color: var(--color-gray-50);

    --modal-menu-primary-text-color: var(--color-gray-10);
    --modal-menu-secondary-text-color: var(--color-gray-20);
}
